
.logoTwitter {
    transform: rotate(180deg);
    width: 30px;
    height: 30px;
}

.divHashtag {
    display: flex;
    align-items: space-around;
    justify-content: space-between;
    background-color: violet;
    height: 100vh;
}

.divHashtagGauche {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: aqua;
}

.divHashtagDroite {
    background-color: pink;
}

.divHashtagCentre {
    background-color: greenyellow;
}