.main {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  height: 100vh;
  background: #17202a  ;
  color: #fff;
  padding: 10px;
  @font-face {
    font-family: Mont-Heavy;
    src: local("Mont-HeavyDEMO.otf");
  }
  };
 

 .menuleft{
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  width: 20%;
}

.menucentre{
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 50%;
  }


.menuright{
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  width: 30%;
 
}


.input{
  background-color: #fff;
  
}

.bttweet{
background: #0070f3;

}

.logBt{
  color: #000;
    
}

.logoTw{
    transform: rotate(180deg);
  
}