.main {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  height: 100vh;
  padding: 0;
  background: #17202a  ;
  color: #fff;
}
.menuleft{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  
}


.title {
  line-height: 1.15;
  font-size: 4rem;
  margin-top: 1rem;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover, .title a:focus, .title a:active {
  text-decoration: underline;
}

.input{
  background-color: #fff
  ;
}

.bttweet{
background: #0070f3;

}

.logBt{
  color: #000;
  justify-content: flex-start
}