.divLogin {
    display: flex;
    flex-direction: row;
    
    
}

.logoTwitter {
    transform: rotate(180deg);
    color: white;


}

.divGauche {
    width: 50%;
    height: 1000px;
}

.divDroite {
    width: 50%;
    height: 1000px;
    background-color: lightblue;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white
    
}

